/* About.css */

.About-Container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 66vh;
    margin-top: 60px;
}

.white-About-Card {
    border-radius: 30px;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #007fff, #ff5555, #8000ff, #ff00ff);
    background-size: 300% 300%;
    font-size: 14px;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    animation: flowGradient 8s linear infinite alternate, fadeIn 0.5s ease;
}

.About-Title {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-align: center;
  justify-content: center; 
}


@keyframes flowGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
