.contact-card {
    display: flex;
    margin-left: 33%;
    width: 33%;
    flex-basis: 33.33%;
    margin-top: 33%;
    align-items: center;
    padding: 15px 15px;
    border-radius: 50px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    margin-right: 1px;
    background-color: #ffffff;
  }
  
  .contact-card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    min-height: 100vh;
    margin-top: -100px;
  }

  .re-contact{
    display: flex;
    justify-content: center;

  }