/* Portfolio.css */

.white-Rounded-Card {
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 14px;
  color: #565454;
  text-align: center;
  padding: 10px;
  transition: opacity 0.2s ease;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.white-Rounded-Card img {
  position: relative;
  width: 100%;
  object-fit: fill;
  border-radius: 30px;
  transition: opacity 0.2s ease;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-align: center;
  justify-content: center; 
}

.white-Rounded-Card:hover img {
  opacity: 0; 
  
}

.white-Rounded-Card:hover {
  opacity: 1;
  object-fit: fill;
}
