/* Portfolio.css */

.white-Rounded-Card {
  border-radius: 30px;
  font-size: 14px;
  color: #565454;
  text-align: center;
  padding: 10px;
  transition: opacity 0.2s ease;
  margin-top: 40px;
  margin-left: 40px;
  animation: flowGradient 8s linear infinite alternate, fadeIn 0.5s ease;
  background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #007fff, #ff5555, #8000ff, #ff00ff);
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-Rounded-Card img {
  position: relative;
  width: 100%;
  object-fit: fill;
  transition: opacity 0.2s ease;
}

.card-title {
  font-weight: bold;
  font-size: 34px;
  color: #000000;
  text-align: center;
  justify-content: center; 
}

.text-container {
  display: none;
}
.white-Rounded-Card:hover img {
 display: none
 
}

.white-Rounded-Card:hover .text-container {
  display: block;
  
}

.white-Rounded-Card:hover {
  opacity: 1;
  object-fit: fill;
}


@keyframes flowGradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}