  .footer {
    font-size: 12px;
    color: rgb(46, 113, 207);
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }


.footer:hover {
  color: #3d07cf; 
  transform: scale(1.05);
}
