  .footer {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
  }

.footer-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.footer-item a:hover {
  color: #83b7ff;
}
